* {
    box-sizing: border-box;
}
html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 1.7rem;
}

body {
    background-color: rgba(0, 153, 255, 0.582);
}

.background-white {
    background-color: white;
}

.background-blue {
    background-color: rgb(0, 76, 255);
}

.blue {
    color: rgb(0, 43, 144);
}

.white {
    color: white;
}

.my-form {
    border-radius: 30px;
}

.container {
    max-width: 1000px;
    margin: 50px auto;
}

.row {
    display: flex;
    justify-content: center;
}

.col-2 {
    width: calc((100%/2) - 30px);
    flex: 1 400px;
    display: flex;
    flex-direction: column;
}

.gap {
    gap: 30px;
}

.padding {
    padding: 30px 80px;
}

a {
    color: white;
}

a:hover {
    color: rgb(0, 255, 255);
}

input {
    width: 100%;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.418);
    padding: 10px;
}

#blue input {
    background-color: rgb(0, 76, 255);
}

#blue select {
    background-color: rgb(0, 76, 255);
    color: white;
}

#blue input::placeholder {
    color: white;
}

#submit-btn {
    background-color: white;
    padding: 10px 5px;
    width: 150px;
    border-radius: 20px;
    margin: 20px 0;
}

select {
    border: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.418);
    padding: 14px 0;
}
