* {
    box-sizing: border-box;
}
html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 1.8rem;
}

body {
    background-color: rgba(0, 153, 255, 0.582);
}

.background-white {
    background-color: white;
}

.background-blue {
    background-color: rgb(0, 76, 255);
}

.blue {
    color: rgb(0, 43, 144);
}

.white {
    color: white;
}

.my-form {
    border-radius: 30px;
}

.container {
    max-width: 1000px;
    margin: 50px auto;
}

.row {
    display: flex;
    justify-content: center;
}

.col-2 {
    width: calc(100%/2);
    flex: 1 400px;
    display: flex;
    flex-direction: column;
    padding: 30px 80px;
}

input {
    width: 250px;
    margin: 10px 0;
    border: none;
}
